[gcp_variables]
project = 
dataset = chicagotaxitrips
location = US
model = chicago_taxifare_model
credential_path = creds.json

[logger]
log_proj_name = bqml_dnn_regressor
logger_level = INFO

[assets]
train_detail_csv = training_info.csv
eval_detail_csv = evaluation_details.csv
prediction_detail_csv = prediction_details.csv

[sql_scripts]
training_query = train_sql.sql
training_info_query = train_info.sql
evaluation_query = eval_sql.sql
prediction_query = pred_sql.sql