[gcp_variables]
project = 
dataset = timeseries
location = US
model = daily_liquor_forecast
table = iowa_liquor_sales
credential_path = creds.json

[logger]
log_proj_name = bq-timeseries-liquor_forecast-project
logger_level = INFO

[assets]
train_detail_csv = training_info.csv
eval_detail_csv = evaluation_details.csv
prediction_detail_csv = forecast_details.csv

[sql_scripts]
create_tbl_query = table_sql.sql
training_query = train_sql.sql
training_info_query = train_info.sql
evaluation_query = eval_sql.sql
prediction_query = forecast_sql.sql