[gcp_variables]
project = 
dataset = 
location = us-central1
model = xgb_classifier
credential_path = configs/creds.json

[logger]
log_proj_name = bq-chicago_trips
logger_level = INFO

[assets]
train_detail_csv = training_info.csv
eval_detail_csv = evaluation_details.csv
prediction_detail_csv = forecast_details.csv

[sql_scripts]
training_query = training.sql
evaluation_query = evaluation.sql
prediction_query = prediction.sql